<div class="container">
  <h2 class="page-header">Select student for assigning a student</h2>
  <%= form_tag user_assign_courses_path, method: :post do %>
      <%= submit_tag 'Save',  class: 'btn btn-default pull-right' %>
      <table class="table table-responsive">
        <thead>
        <tr>
          <th><input type="checkbox" id="checkAll" checked> Checked all</th>
          <th>Name</th>
          <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <% @students.each do |student| %>
            <tr>
              <td><%= check_box_tag 'student_ids[]', student.id, true %></td>
              <% text_field_tag :@assign_course_id %>
              <td><%= student.full_name %></td>
              <td><%= student.email %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
  <% end %>
</div>

<script type="text/javascript">
    $("#checkAll").change(function () {
        $("input:checkbox").prop('checked', $(this).prop("checked"));
    });
</script>