<div class="container">
  <%= notice %>
  <h2 class="page-header"><%= @user.full_name%></h2>
  <div>
    <ul>
      <li><b>ID :</b> <%= @user.id%></li>
      <li><b>First Name : </b><%= @user.first_name%></li>
      <li><b>Last Name : </b><%= @user.last_name%></li>
      <li><b>Email :</b> <%= @user.email%></li>
      <li><b>Role :</b> <%= @user.role%></li>
    </ul>
  </div>

</div>