<div class="container">
  <h2 class="page-header">All Students List</h2>
  <%= link_to 'Students List', student_list_users_path, class:'btn btn-default' %>
  <%= link_to 'Teachers List', teacher_list_users_path, class: 'btn btn-default' %>
  <%= link_to 'Parents List', parent_list_users_path, class: 'btn btn-default' %>
  <%= link_to 'All Users List', users_path, class: 'btn btn-default' %>
  <table class="table table-responsive">
    <thead>
    <tr>
      <th>Serial No.</th>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th></th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <% serial_no=0%>
    <% @users.each do |user| %>
        <tr>
          <td><%= serial_no +=1 %></td>
          <td><%= user.full_name %></td>
          <td><%= user.email %></td>
          <td><%= user.role %></td>
          <td><%= link_to 'Send invitation', invite_user_path(user) %></td>
          <td>
            <%= link_to '', user_path(user), class: 'fa fa-eye' %>
            <%= link_to '', edit_user_path(user), class: 'fa fa-edit' %>
            <%= link_to '', user_path(user), method: :delete, class: 'fa fa-trash-o' %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>