<%= form_for @course do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :author %>
      <%= f.text_field :author, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.submit class:'btn btn-default' %>
    </div>
<% end %>