<div class="container">
  <h2 class="page-header">Course Details</h2>
  <%= notice %>
  <table>
    <ul>
    <li><%= @course.id %></li>
    <li><%= @course.title %></li>
    <li><%= @course.author %></li>
    </ul>
    <%=link_to 'Home', root_path%>
  </table>

</div>