<div class="container">
  <h2 class="page-header">Class Details</h2>
  <b><%= notice %></b>
  <ul>
    <li><b>Room No. :</b> <%= @klass.room_no %></li>
    <li><b>Time :</b> <%= @klass.time %></li>
    <li><b>Teacher :</b> <%= @klass.teacher %></li>
    <li><b>Duration :</b> <%= @klass.duration %></li>
  </ul>
<%= link_to 'Back to Class Routine', klasses_path%>
</div>